@page "/About"

<h1>About Us</h1>

<br />
<u1>
    <li>
        <h3>Our Vision</h3>
        <p>Our goal for running this site is to make video games more accessible to broke college students. In order to accomplish this goal we will take 
            regular games and sell them at a reduced price. Making games more accessible will create a better atmosphere for stressed out students on the 
            verge of dropping out. It will provide an escape from inevitable finals and endless papers and will increase productivity and creativity. 
        </p>
    </li>
    <li>
        <h3>Where we come from</h3>
        <p>
            We come from humble beginnings. Spending $20,000 on tuition and being jobless left little to no room for buying games, especially since
            a new game is $60. Living off Top Ramen just to buy the newest hot game and never playing it again after a week made me wish there was site that sold games for cheap at all times.
            Having a site like this would make it a lot more convenient to students instead of having to wait for a major sale on a holiday. 
            This gave us the inspiration to create a site that will always sell games at a discounted price.
        </p>
    </li>
    <li>
        <h3>Current State</h3>
        <p>
            Being a new startup we do not have the largest catalog of games currently. As we grow as a company we will continue to expand our catalog and make games even more
            affordable for students. This is just the beginning for us and we have a lot more in store for our customers!!!
        </p>
        <br />
        <p>
            Thank You For Reading!
        </p>
    </li>
</u1>
