@page "/cart"
@using Data
@inject CartService CartService

<h1>Shopping Cart</h1>

@code
{
    private List<Game> GamesInCart = new();
    protected override void OnInitialized()
    {
        GamesInCart = CartService.GetProductsInCart();
    }
}

<div>Games in cart:</div>
<div class="d-flex flex-column">
    @foreach (var game in GamesInCart)
    {
        <GameDetail Game="game" ShowBuyButton="false"></GameDetail>
    }
</div>

