@page "/cart"
@inject CartDbService service
@inject NavigationManager UriHelper
@using BlazorApp.Shared

<h1 style="text-align:center;">Shopping Cart</h1>

@code
{
    List<Game> Games = new List<Game>();
    private float Cost = 0;
    private float Tax = 0;
    private float Total = 0;
    private string TaxString;
    private string TotalString;
    private int CartQuantity = 0;

    private void Checkout() 
    {
        UriHelper.NavigateTo("/Checkout");
    }

    protected override async Task OnInitializedAsync()
    {
        await RefreshCart();
    }

    private async Task RefreshCart()
    {
        Games = await service.GetCart();
    }


}

<div class="d-flex flex-column">
    @foreach (var game in Games)
    {
        <GameDetail Game="game" Quantity="game.Quantity" InCart="true"></GameDetail>
        Cost += (game.Price * game.Quantity);
        Tax = (Cost * 6.35f) / 100.0f;
        Total = Cost + Tax;
        TaxString = String.Format("{0:0.00}",Tax);
        TotalString = String.Format("{0:0.00}",Total);
        CartQuantity += game.Quantity;
    }
</div>


@if(CartQuantity > 0) 
{
    <br>
    <hr size="25" noshade>
    <h4>Subtotal: $@Cost</h4>
    <h4>Tax:      $@TaxString</h4>
    <hr size="25" noshade>
    <h3>Total:    $@TotalString</h3>
    <br>
    <br>
    <button class="btn btn-info" id="CheckOutButton" name="CheckOutButton" @onclick="Checkout">Proceed To Checkout</button>
}
else
{
    <h4 style="text-align:center; opacity:50%;">Empty</h4>
}





