@page "/games"
@inject GameDbService service
@using BlazorApp.Shared

<h1 style="text-align:center;">Used Games</h1>

@code 
{
    List<Game> Games = new List<Game>();
    protected override async Task OnInitializedAsync()
    {
        await RefreshGames();
    }

    private async Task RefreshGames()
    {
        Games = await service.GetGames();
    }
}

@foreach (var game in Games)
{
    
    <GameDetail Game="game" InCart="false" InWishList="false"></GameDetail>
}

<br>
<br>
<br>
<br>