@page "/games"
@using Data
@inject GameService GameService

<h2>Used Games</h2>

@code 
{
    public IDictionary<Game, int> Games;

    protected override void OnInitialized()
    {
        Games = GameService.GetAllGames();      
    }
}

@foreach (KeyValuePair<Game, int> game in Games)
{
    
    <GameDetail Game="game.Key" Quantity="game.Value" InCart="false" InWishList="false"></GameDetail>
}

<!--<NavLink href="/cart">Check-out</NavLink>-->