@page "/"

<h1>Welcome, ETSU Student!</h1>
<br />
<h3>Are you looking for games to play?</h3>
<h3>Games Like these:?</h3>
<h1>The Hand</h1>
<img src="Images\Picking up the Cathedral (2).png" alt="The Hand" width="500" height="333">
<h3>We have games, just not</h3>
<h3>not this one, we sold out of it</h3>
<br />
<h2>Check the games section for best listings!</h2>