@page "/wishlist"

<h3>Wishlist (@wishlist.Count(WishListItem => !WishListItem.IsDone))</h3>

<ul>
    @foreach (var item in wishlist)
    {
        <li>
            <input type="checkbox" @bind="item.IsDone" />
            <input @bind="item.Title" />
        </li>
    }
</ul>

<input placeholder="Enter Item to Add" @bind="game" />
<button @onclick="AddWishItem">Add Item</button>

@code {
    private List<WishListItem> wishlist = new();
    private string game;

    private void AddWishItem()
    {
        if (!string.IsNullOrWhiteSpace(game))
        {
            wishlist.Add(new WishListItem { Title = game });
            game = string.Empty;
        }
    }
}