@page "/wishlist"
@inject WishlistDbService service
@using BlazorApp.Shared

<h1 style="text-align:center;">WishList</h1>

@code
{
    List<Game> Games = new List<Game>();
    protected override async Task OnInitializedAsync()
    {
        await RefreshGames();
    }

    private async Task RefreshGames()
    {
        Games = await service.GetWishlist();
        
    }
}
@foreach (var game in Games)
{
    <GameDetail Game="game" InCart="false" InWishList="true"></GameDetail>
}

