@page "/wishlist"
@using Data
@inject WishListService WishListService

<h1>WishList</h1>

@code
{
    private List<Game> GamesInWishList = new();
    protected override void OnInitialized()
    {
        GamesInWishList = WishListService.GetProductsInWishList();
    }
}

<div class="d-flex flex-column">
    @foreach (var game in GamesInWishList)
    {
        <GameDetail Game="game" InWishList="true"></GameDetail>
    }
</div>

