.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.gameCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 25%;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .card-image {
    width: 100%;
    object-position: center;
  }
  .image-cover {
      width: 300px;
      object-fit: cover;
      object-position: center;
  }

  .card-title {
    font-size: 30px;
    text-align: center; 
  }
  
  .card-price {
    color: grey;
    font-size: 22px;
    text-align: center;
  }

  .card-body {
    text-align: center;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }