@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">

        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a >Hello, @context.User.Identity.Name</a>
                    <a href="/Login" @onclick="Logout">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/Login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
            <a href="/about">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
@code{
    public void Logout(){

        ((CustomAuthProvider)AuthenticationStateProvider).removeAuth();
    }
}
