@inject CartService CartService
@inject CartDbService CartDbService
@inject WishlistDbService WishListDbService
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlockBuster</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=""
                Match="NavLinkMatch.All">
                <span class="material-icons">home</span> Home 
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="games"
                Match="NavLinkMatch.All">
            <span class="material-icons">games</span> Games
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="wishlist"
                Match="NavLinkMatch.All">
                <span class="material-icons">receipt_long</span> Wishlist (@WishListDbService.WishListQuantity)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cart"
                Match="NavLinkMatch.All">
                <span class="material-icons">shopping_cart</span> Cart (@CartDbService.CartQuantity)
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
