@inject CartDbService CartDbService
@inject WishlistDbService WishListDbService
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ETSUsed Games</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

@if(CartDbService.CartQuantity > 0)
{
    CartQuantity = '(' + CartDbService.CartQuantity.ToString() + ')';
} else {
    CartQuantity = "";
}
@if(WishListDbService.WishListQuantity > 0)
{
    WLQuantity = '(' + WishListDbService.WishListQuantity.ToString() + ')';
} else {
    WLQuantity = "";
}
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=""
                Match="NavLinkMatch.All">
                <span class="material-icons">home</span> Home 
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="games"
                Match="NavLinkMatch.All">
            <span class="material-icons">games</span> Games
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="wishlist"
                Match="NavLinkMatch.All">
                <span class="material-icons">receipt_long</span> Wishlist @WLQuantity
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cart"
                Match="NavLinkMatch.All">
                <span class="material-icons">shopping_cart</span> Cart @CartQuantity
            </NavLink>
        </li>
    </ul>
</div>

@code {

    private string WLQuantity = "";
    private string CartQuantity = "";
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
